/*sections*/
/*Python*/
#pbackgroundsection{
    position: absolute;
    width: 75%;
    height: 300px;
    left: 142px;
    top: 325px;
    max-width: 1500px;
    background: #DEDEDE;
    border-radius: 20px;
}
#pythonimage{
    position: absolute;
    width: 14%;
    height: 225px;
    left: 174px;
    top: 363px;
    max-width: 225px;
    background: url(python3.png);
    border-radius: 20px;
}
#pythonheader{
    position: absolute;
    width: 55%;
    height: 225px;
    left: 418px;
    top: 363px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease 0s;
    color: #5F90C9;
    text-decoration: none;
}

#pythonheader:hover{
    color: rgb(0, 66, 173);
    text-decoration: underline;
}
/*java*/
#jbackgroundsection{
    position: absolute;
    width: 75%;
    height: 300px;
    left: 142px;
    top: 698px;
    max-width: 1500px;
    background: #DEDEDE;
    border-radius: 20px;
}
#javaimage{
    position: absolute;
    width: 14%;
    height: 225px;
    left: 174px;
    top: 735px;
    max-width: 225px;
    background: url(java2.jpg);
    border-radius: 20px;
}
#javaheader{
    position: absolute;
    width: 55%;
    height: 225px;
    left: 418px;
    top: 755px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    color: #5F90C9;
}
#javaheader:hover{
    color: rgb(0, 66, 173);
    text-decoration: underline;
}
/*c#*/
#cbackgroundsection{
    position: absolute;
    width: 75%;
    height: 300px;
    left: 145px;
    top: 1071px;
    max-width: 1500px;
    background: #DEDEDE;
    border-radius: 20px;
}
#cimage{
    position: absolute;
    width: 14%;
    height: 225px;
    max-width: 225px;
    left: 174px;
    top: 1108px;
    
    background: url(c#);
}
#cheader{
    position: absolute;
    width: 55%;
    height: 225px;
    left: 418px;
    top: 1108px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    color: #5F90C9;
}

#cheader:hover{
    color: rgb(0, 66, 173);
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    #pbackgroundsection{
        position: absolute;
        width: 90%;
        height: 150px;
        left: 9px;
        top: 261px;
        
        background: #DEDEDE;
        border-radius: 20px;
    }
    #jbackgroundsection{
        position: absolute;
        width: 90%;
        height: 150px;
        left: 9px;
        top: 426px;
        
        background: #DEDEDE;
        border-radius: 20px;
    }
    #cbackgroundsection{
        position: absolute;
        width: 90%;
        height: 160px;
        left: 9px;
        top: 593px;
        
        background: #DEDEDE;
        border-radius: 20px;
    }
    #pythonimage{
        position: absolute;
        width: 26%;
        min-width: 100px;
        height: 120px;
        left: 9px;
        top: 276px;
        
        background: url(python3.png);
        border-radius: 20px;
        
    }
    #javaimage{
        position: absolute;
        width: 26%;
        min-width: 100px;
        height: 120px;
        left: 9px;
        top: 441px;
        
        background: url(java2.jpg);
        border-radius: 20px;
    }
    #cimage{
        position: absolute;
        width: 26%;
        min-width: 100px;
        height: 120px;
        left: 9px;
        top: 613px;
        
        background: url(c#);
    }
    #pythonheader{
        position: absolute;
        width: 60%;
        height: 120px;
        left: 29%;
        top: 276px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #5F90C9;
    }
    #javaheader{
        position: absolute;
        width: 60%;
        height: 120px;
        left: 29%;
        top: 447px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #5F90C9;
    }
    #cheader{
        position: absolute;
        width: 60%;
        height: 120px;
        left: 29%;
        top: 613px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #5F90C9;
    }

}