.sectionimage{
    position: absolute;
    width: 80%;
    height: auto;
    max-height: 789px;
    left: 146.37px;
    top: 284px;
    max-width: 1640px;
    
    background: url(python3.jpg);
}

.sectiontext{
    position: absolute;
    width: 81%;
    left: 142px;
    top: 1131px;
    max-width: 1640px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    background-color: white;
    
    color: #000000;
}

.sectiontextnav{
    position: absolute;
    width: 85%;
    left: 142px;
    top: 225px;
    max-width: 1640px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
}

@media screen and (max-width: 768px){
    .sectionimage{
        left: 0px;
        width: 100%;
    }
    .sectiontext{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
        top: 674px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    .sectiontextnav{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
        top: 225px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1921px){
    .sectiontextnav{
        left: 24%;
        width: auto;
    }
    .sectionimage{
        left: 24%;
    }
    .sectiontext{
        left: 24%;
        width: auto;
    }
    .sectionimage{
        width: 75%;
        height: auto;
    }
}